<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.fileSizeLimitBytes" value="100000" />
		<add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
		<add key="Connstr" value="Server=10.12.77.39;Port=5432;UserId=uniadmintrn;Password=!QAZ2wsx;Database=olap;Timeout=500;CommandTimeout=500;"/>
		<add key="QueryStr" value="select * from olapts.panegf_view" />
		<add key="FuncStr" value="select * from olapts.panegf_report" />
		<add key="Path" value="C:\Users\x02207\Desktop\Reports\" />
		<add key="CSVfilename" value="Position_Report_" />
		<add key="logfilename" value="PanEgfViewToCSV" />
		<add key="logpath" value="C:\Users\x02207\Desktop\Reports\PanEgfViewToCSV-.txt" />
		<add key="headers" value="cdi;afm;grade;approveddate;nextreviewdate;ratingmodelname;fiscalyear;salesrevenues;totalassets;entityid;overrideflag;creditcommitteedate" />
	</appSettings>
</configuration>