<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.fileSizeLimitBytes" value="100000" />
		<add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
		<add key="Connstr" value="Server=10.12.77.39;Port=5432;UserId=uniadmintrn;Password=!QAZ2wsx;Database=olap;Timeout=0;CommandTimeout=0;"/>
		<add key="QueryStr" value="select * from olapts.rmdb_view" />
		<add key="FuncStr" value="select * from olapts.rmdb_report" />
		<add key="Path" value="C:\Reports\" />
		<add key="CSVfilename" value="RM_Report_" />
		<add key="logfilename" value="RMViewToCSV" />
		<add key="logpath" value="C:\Interfaces\RmViewToCSV\Logs\RMViewToCSV-.txt" />
		<add key="outpath" value="C:\Interfaces\RmViewToCSV" />
		<add key="headers" value="cdi;afm;csh;ebitda;eqty;gdwill;nt_incm;sales_revenue;netfixedassets;inventory;nettradereceivables;totalassets;commonsharecapital;tradepayable;totalbankingdebt;shorttermbankingdebt;longtermbankingdebt;totalliabilities;grossprofit;ebit;profitbeforetax;workingcapital;flowsoperationalactivity;flowsinvestmentactivity;flowsfinancingactivity;chgcommonsharecapital_chgsharepremium;balancedividendspayable;grossprofitmargin;netprofitmargin;ebitdamargin;totalbankingdebttoebitda;netbankingdebttoebitda;totalliabilitiestototalequity;returnonassets;returnonequity;interestcoverage;currentratio;quickratio;fnc_year;creditcommitteedate;publish_date;approveddate;reference_date;entityid" />
	</appSettings>
</configuration>